name: Build and test

on:
  pull_request:
    branches:
      - master

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  HALIDE_DIR: $HOME/halide
  ONNXRUNTIME_DIR: $HOME/onnxruntime-linux-x64-1.5.2

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Initialize git-lfs
      run: git lfs install

    - name: generate lfs file list
      run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

    - name: restore lfs cache
      uses: actions/cache@v2
      id: cache-lfs
      with:
        path: .git/lfs
        key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}-v1

    - name: pull lfs files
      run: git lfs pull

    - name: Install dependencies
      shell: bash
      run: sudo apt-get update && sudo apt-get install -y ninja-build uuid-dev zlib1g-dev && sudo apt-get clean && sudo rm -rf /var/lib/apt/lists/*
    
    - name: Install OpenCV 4
      shell: bash
      run: |
        curl -L https://ion-archives.s3-us-west-2.amazonaws.com/genesis-runtime/OpenCV-4.5.1-x86_64-gcc75.sh -o $HOME/opencv_installer.sh
        chmod 755 $HOME/opencv_installer.sh
        sudo $HOME/opencv_installer.sh --prefix=/usr/ --skip-license

    - name: Download Halide package
      shell: bash
      run: curl -L https://github.com/halide/Halide/releases/download/v10.0.0/Halide-10.0.0-x86-64-linux-db901f7f7084025abc3cbb9d17b0f2d3f1745900.tar.gz | tar zx -C $HOME

    - name: Download onnxruntime package
      shell: bash
      run: curl -L https://github.com/microsoft/onnxruntime/releases/download/v1.5.2/onnxruntime-linux-x64-1.5.2.tgz | tar zx -C $HOME

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{runner.workspace}}/ion-kit/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/ion-kit/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -GNinja -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DHalide_DIR=$HOME/Halide-10.0.0-x86-64-linux/lib/cmake/Halide -DHALIDE_ROOT=$HOME/Halide-10.0.0-x86-64-linux/ -DWITH_CUDA=OFF

    - name: Build
      working-directory: ${{runner.workspace}}/ion-kit/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{runner.workspace}}/ion-kit/build
      shell: bash
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: |
        LD_LIBRARY_PATH=$HOME/onnxruntime-linux-x64-1.5.2/lib ctest --verbose -v -C $BUILD_TYPE
